
<h2>Welcome! Checkout all of our regexes.</h2>

<p>
<h5>Please make sure to try clicking into <b>the detailed page of each regex</b> and try the <b>"Add new regular expression"</b> button!</h5>
<h5>We are only supporting regular expressions for Ruby for iter-1.</h5></p>
<table class="table table-striped col-md-12" id="regexes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Expression</th>
      <th>Uploaded Time</th>
      <th>Tag</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @regexes.each do |regex| %>
      <tr>
        <td>
          <%= link_to regex.title, regex_path(regex) %>
        </td>
        <td>
          <%= regex.expression %>
        </td>
        <td>
          <%= regex.created_at %>
        </td>
        <td>
          <%= regex.tag %>
        </td>
        <td>
          <%= regex.description %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new regular expression', new_regex_path, :class => 'btn btn-success' %>