
<h2>Welcome! Checkout all of our regexes.</h2>

<p>
<h5>Please make sure to try clicking into <b>the detailed page of each regex</b> and try the <b>"Add new regular expression"</b> button!</h5>
<h5>We are only supporting regular expressions for Ruby for iter-1.</h5></p>


<%= form_tag regexes_path, method: :get, enforce_utf8: false, id: 'tags_form' do %>
    Include:
    <% @all_tags.each do |tag| %>
      <div class="form-check  form-check-inline">
        <%= label_tag "tags[#{tag}]", tag, class: 'form-check-label' %>
      <%= check_box_tag "tags[#{tag}]", "1",  @tags_to_show.include?(tag), :id => "tags_#{tag}", class: 'form-check-input' %>
      </div>
    <% end %>
    <%= submit_tag 'Refresh', id: 'tags_submit', class: 'btn btn-primary' %>
 <% end %>

<table class="table table-striped col-md-12" id="regexes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Expression</th>
      <th>Tag</th>
      <th>Description</th>
      <th>Try it</th>
    </tr>
  </thead>
  <tbody>
    <% @regexes.each_with_index do |regex,idx| %>
      <tr>
        <td>
          <%= link_to regex.title, regex_path(regex) %>
        </td>
        <td>
          <%= regex.expression %>
        </td>
        <td>
          <%= regex.tag %>
        </td>
        <td>
          <%= regex.description %>
        </td>
        <td>
          <%= form_tag regexes_path(@text), :method => :get do %>
          <%= label :text, idx+1 ,"textbox #{(idx+1)}", :class => 'col-form-label hidden' %>
          <%= text_field :text, idx+1 , :placeholder => 'Type something!',:value => @regex_input[(idx+1).to_s],:class => 'form-control',:class =>'col-6'%>
          <%= submit_tag "Check it!",:id => "Check #{(idx+1)}",  :class => 'btn btn-success' %>
          <%= @validity[(idx+1).to_s] %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new regular expression', new_regex_path, :class => 'btn btn-success' %>
