<h2>Create New regex</h2>

<%= form_for :regex, url: regexes_path do |f| %>
  <%= f.label :title ,'Name', :class => 'col-form-label' %>
  <%= f.text_field :title, :class => 'form-control' %>
  <%= f.label :expression, 'Expression', :class => 'col-form-label' %>
  <%= f.text_field :expression, :class => 'form-control' %>
  <%= f.label :description, 'Description', :class => 'col-form-label' %>
  <%= f.text_field :description, :class => 'form-control' %>
  <%= f.label :tag, 'Tag', :class => 'col-form-label' %>
  <%= f.text_field :tag, :class => 'form-control' %>
  <br/>
  
  <p>
    <b>Country</b><br/>
    <input id="person_country_usa" name="person[country]" type="radio" value="USA"/> 
    USA
    <input id="person_country_canada" name="person[country]" type="radio" value="Canada" /> 
    Canada
    <input id="person_country_mexico" name="person[country]" type="radio" value="Mexico" /> 
    Mexico<br/>
  </p>

<p>
<b>Testcases:</b><br/>
   <%= f.fields_for :testcase do |ff| %>
     content: <%= ff.text_field :content, :size => 50 %>
     matches: <%= ff.radio_button :match, true %> True
    <%= ff.radio_button :match, false %> False
    </p>
    <% end %>
</p>



  <%= f.submit 'Save Changes', :class => 'btn btn-success' %>
  <%= link_to 'Cancel', regexes_path, :class => 'btn btn-secondary' %>
<% end %>
