<h2>Create New regex</h2>

<%= form_for @regex, url: regexes_path do |f| %>
  <%= f.label :title ,'Name (Cannot be empty)', :class => 'col-form-label' %>
  <%= f.text_field :title, :class => 'form-control' %>
  <%= f.label :expression, 'Expression (Hint: Cannot be empty; do not wrap your regex with //)', :class => 'col-form-label' %>
  <%= f.text_field :expression, :class => 'form-control' %>
  <%= f.label :description, 'Description', :class => 'col-form-label' %>
  <%= f.text_field :description, :class => 'form-control' %>
  <%= f.label :tag, 'Tag', :class => 'col-form-label' %>
  <%= f.text_field :tag, :class => 'form-control' %>
  <br/>

<p>
<b>Testcases:</b><br/>
   <%= f.fields_for :testcases do |ff| %>
   <div class='form_group'>
    <%= ff.label :content, 'testcase' %>
    <%= ff.text_field :content, :size => 50 %>
    <%= ff.radio_button :match, true %>
    <%= ff.label :match_true, 'True' %>
    <%= ff.radio_button :match, false %>
    <%= ff.label :match_false, 'False' %>
    <%= ff.check_box :_destroy %>
    <%= ff.label :_destroy, 'delete' %>
    </p>
    </div>
    <% end %>
</p>
    <%= f.submit 'Add testcase', :name => "add_testcase" ,:class => 'btn btn-primary'%>
    <%= f.submit 'Delete checked testcases', :name => 'remove_testcase',:class => 'btn btn-warning' %> <br/>
<br/>
  <%= f.submit 'Save Changes', :class => 'btn btn-success' %>
  <%= link_to 'Cancel', regexes_path, :class => 'btn btn-secondary' %>
<% end %>
