<!--  app/views/regexes/show.html.erb -->
<h2>Details about <em><%= @regex.title %></em></h2>


<ul id="details">
  <li>
  <b>
    <h5>Expression:</b> 
    <%= @regex.expression %>
    
    
  </li>
  <li>
    Created on:
    <%= @regex.created_at.strftime("%B %d, %Y") %>
  </li>
    <li>
    Tag:
    <%= @regex.tag.empty?? 'No tag.': @regex.tag %>
  </li>
</ul>

<h4>Description:</h4>
<p id="description">
  <%= @regex.description.empty?? 'No description.': @regex.description %>
</p>

<p id='playground'>
<h4>Try it out:</h4>

<%= form_tag regex_path(@regex,@text), :method => :get do %>
  <%= label :text,:content,'textbox', :class => 'col-form-label hidden' %>
  <%= text_field :text, 'content', :placeholder => 'Type something and see if it matches the regex!',:value => @regex_input,:class => 'form-control',:class =>'col-5'%>
  <%= submit_tag 'Check', :class => 'btn btn-success' %>
  <%= submit_tag 'Add to testcase', :class => 'btn btn-primary' %>
  <br>
  <b><h5><%= "Results: #{@validity}" %></b>
<% end %>
</p>

<p id='display testcase'>
<h4>Testcases:</h4>
<table class="table table-striped col-md-12" id="testcases">
  <thead>
    <tr>
      <th>Content</th>
      <th>Matches or not</th>
    </tr>
  </thead>
  <tbody>
    <% @testcases.each do |testcase| %>
      <tr>
        <td>
          <%= testcase.content %>
        </td>
        <td>
          <%= testcase.match %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>


<br/>
<div class="row">
  <% if @regex[:user_id]==session[:user_id]%>
    <%=link_to 'Delete', regex_path(@regex), 'data-method' => 'delete', :class => 'btn btn-danger col-2' %>
  <%end%>
  <%= link_to 'Back to homepage', regexes_path, :class => 'btn btn-success col-2' %>
</div>

