<%# Our "base" layout should be a valid HTML document. %>
<!DOCTYPE html>
<html>
  <head>
    <title>RegexHub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', 'media' => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%# These classes come from the Bootstrap CSS framework. Could also be bg-dark %>

    <nav class="navbar navbar-expand-lg bg-success navbar-light text-white mb-3">
      <h1 class="title"><%= link_to 'RegexHub',regexes_path, class: ' nav-link css_class', style: 'color:#FFFFFF' %></h1>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
      <% if (session[:user_id].nil?? false : !User.find_by_id(session[:user_id]).nil?) %>
        <h5><li class="nav-item active"><span><%= link_to 'User center for %s' % [User.find_by_id(session[:user_id])[:username]],user_path(session[:user_id]),class: 'nav-link css_class' ,style: 'color:#FFA500' %></span></h5>
        <h5><li class="nav-item"><%= link_to 'Log Out', logout_path, class: 'nav-link  css_class', style: 'color:#FFA500' %></li></h5>
      <% else %>
        <h5><li class="nav-item active"><%= link_to 'Sign Up', new_user_path, class: 'nav-link  css_class', style: 'color:#FFA500' %></li></h5>
        <h5><li class="nav-item"><%= link_to 'Log In', login_path, class: 'nav-link  css_class', style: 'color:#FFA500' %></li></h5>
      <% end %>
      </ul>
    </div>
    </nav>

    <div class="container">
      <%# Render "flash" messages in our application. This loads _flash.erb %>
      <%= render 'layouts/flash' %>
      <main id="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
